:root {
  --white-100: #ecf0f3;
  --white-200: hsl(206, 5%, 90%);
  --white-300: hsl(206, 5%, 80%);
  --white-400: hsl(206, 5%, 65%);
  --white-500: hsl(206, 5%, 45%);
  --black-100: #181f25;
  --black-200: #12171c;
  --black-300: #221f36;
  --black-400: #060809;
  --black-500: hsl(210, 21%, 1%);
  --night-100: hsl(217, 27%, 20%);
  --night-200: hsl(217, 27%, 16%);
  --night-300: hsl(217, 27%, 12%);
  --night-400: hsl(215, 27%, 8%);
  --night-500: hsl(215, 27%, 4%);
  --pink-100: #009de1;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-weight: normal;
  line-height: 1.5;
  color: var(--black-300);
  background-color: var(--white-100);
}
body.darkmode {
  color: var(--white-100);
  background-color: var(--night-400);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img,
video {
  display: block;
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.section {
  margin: 0 auto;
  padding: 6rem 0 2rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  border-radius: 0.25rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.btn-primary {
  padding: 0.75rem 1.5rem;
  color: var(--white-100);
  background-color: var(--pink-100);
  box-shadow: var(--shadow-medium);
}
.btn-darken {
  padding: 0.75rem 1.5rem;
  color: var(--white-100);
  background-color: var(--night-300);
  box-shadow: var(--shadow-medium);
}
.header_topbar{
  padding: 10px 0;
}
.header_top_left_content b{
  color: #0c4da2;
  font-size: 16px;
}
.header_top_address ul li a{
  color: #0c4da2;
  font-size: 14px;
}
.header_top_social ul li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  line-height: 36px;
  color: var(--pink-100);
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  position: relative;
  z-index: 11;   
}
.darkmode .header_top_social ul li a{
  box-shadow: -3px -3px 7px #221f36, 3px 3px 5px #a19cc4;  
}
.header_top_social ul li:nth-child(1) a{
  color: #25d366; 
}
.header_top_social ul li:nth-child(2) a{
  color: #1da1f2; 
}
.header_top_social ul li:nth-child(3) a{
  color: #007bff; 
}
.header_top_social ul li:nth-child(4) a{
  color: #ff0505; 
}
.header_top_social ul li:nth-child(5) a{
  color: #49aaea; 
}
.header_top_social ul li:nth-child(5) a{
  color: #007bff; 
}
.header_top_social ul li a:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
  z-index: -11;
}
.header {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
}

.brand img{
  width: 160px;
  order: 1;
}
.darkmode .brand img{
  /* color: var(--pink-300); */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  border-radius: 5px;
}
.darkmode .navbar{
  background: var(--black-300);
  box-shadow: -3px -3px 7px #1c192c, 3px 3px 5px #625c8a;

}
.navbar-left {
  display: flex;
  align-items: center;
  flex: 0 0 17%;
}
.navbar-center {
  display: flex;
}
.navbar-right {
  display: flex;
  flex: 0 0 17%;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.5rem;
}
@media only screen and (max-width: 992px) {
  .navbar-left, .navbar-right {
    flex: 0 0 auto;
  }
  .navbar-right {
    align-items: center;
  }
  .navbar-center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transform: translate(-100%);
    background-color: var(--white-100);
    transition: all 0.4s ease-in-out;
  }
  .menu.is-active {
    transform: translate(0%);
  }
  .darkmode .menu {
    background-color: var(--night-300);
  }
}

.menu-header {
  display: none;
  box-shadow: var(--shadow-medium);
}
.menu-item {
  display: inline-block;
  line-height: 1.5;
}
.menu-link {
  padding: 6px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--black-300);
  transition: all 0.25s ease;
  border-radius: 10px;
}
.menu-link.active{
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.2), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.menu-link:hover{
  color: var(--pink-100);
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.menu-link > i.fas {
  font-size: .8rem;
  margin-left: 0.25rem;
}
.darkmode .menu-link {
  color: var(--white-100);
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 1.45rem;
  color: var(--black-300);
  transition: all 0.25s ease;
}
.darkmode .menu-icon {
  color: var(--white-100);
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .menu-header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .menu-header.is-active {
    visibility: visible;
    background-color: var(--white-100);
  }
  .menu-header.is-active > .menu-arrow {
    display: block;
  }
  .darkmode .menu-header.is-active {
    background-color: var(--night-100);
  }
  .menu-arrow {
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    text-align: center;
  }
  .menu-arrow > i.fas {
    font-size: .8rem;
    line-height: 4rem;
    color: var(--black-300);
    transition: all 0.25s ease;
  }
  .darkmode .menu-arrow > i.fas {
    color: var(--white-100);
  }
  .menu-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: capitalize;
    color: var(--black-300);
  }
  .darkmode .menu-title {
    color: var(--white-100);
  }
  .menu-inner {
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-item {
    display: block;
    line-height: 1;
    padding-inline: 0;
  }
  .menu-link {
    justify-content: space-between;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-inline: 1.25rem;
  }
  .menu-link > i.fas {
    margin-left: 0.5rem;
    transform: rotate(0deg);
  }
}

.submenu {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 2px solid var(--pink-400);
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
  background: var(--pink-100);
  transition: all 0.25s ease-in-out;
}
.darkmode .submenu {
  border-top: 2px solid var(--pink-300);
  background-color: var(--night-300);
}
.submenu-inner {
  flex: 0 0 25%;
  padding: 0 1rem;
  border-right: 1px solid #ddd;
}
.submenu-inner:last-child{
  border-right: none;
}
.submenu-inner img{
  margin-bottom: 16px;
  width: 30px;
}
.submenu-inner .submenu_title{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.submenu-item {
  display: block;
  line-height: 1;
  margin: 0 auto;
  border-bottom: 1px solid #04adf6;
}
.submenu-item:last-child{
  border-bottom: none;
}
.submenu-link {
  display:block;
  line-height: inherit;
  padding: 0.85rem 10px;
  white-space: nowrap;
  text-transform: capitalize;
  color: #fff !important;
  transition: all 0.25s ease-in-out;
}
.submenu-link:hover{
  letter-spacing: 1px;
  background: #04adf6;

}
.darkmode .submenu-link {
  color: var(--white-100);
}
.submenu-image {
  display: block;
  width: 100%;
  height: auto;
  margin-block: 0.5rem;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
  .submenu-inner {
    flex: 0 0 100%;
    padding: 0rem;
  }
  .submenu-list {
    margin-bottom: 1rem;
  }
  .submenu-link {
    display: block;
  }
  .submenu-image {
    margin-top: 0;
  }
}

.megamenu {
  left: 50%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateX(-50%);
}
.megamenu-column-1 {
  left: 65%;
  max-width: 15rem;
  width: 100%;
  height: auto;
}
.megamenu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .megamenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }
}
.header_btn a {
  font-weight: 600;
  display: inline-block;
  padding: 6px 20px;
  background: #ffb231;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  transition: .4s ease-in-out;
  border: 2px solid #ffb231;
  box-shadow: 4px 4px 5px 1px #c6c5cb;
}
.header_btn a:hover{
  background: var(--black-100);
  border: 2px solid var(--black-100);
}

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-right: 0.5rem;
}
.switch-light, .switch-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}
.switch-light {
  font-size: 1.3rem;
  visibility: visible;
  color: var(--black-300);
}
.darkmode .switch-light {
  font-size: 0rem;
  visibility: hidden;
}
.switch-dark {
  font-size: 0rem;
  visibility: hidden;
  color: var(--white-100);
}
.darkmode .switch-dark {
  font-size: 1.3rem;
  visibility: visible;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
}
@media only screen and (max-width: 992px) {
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 1.6rem;
  height: 1rem;
  margin-right: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
@media only screen and (max-width: 992px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 1rem;
  background: var(--black-400);
}
.darkmode .burger-line {
  background: var(--white-100);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}



/* ================ Slider Css ================== */
.clipping-slider{
  padding: 20px 0;
  margin: 100px 0;
}
.carousel-item {
  padding: 180px 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-position: center;
  border-radius:10px;
}
.carousel-control-prev, .carousel-control-next {
width: 4%;
}
.carousel-indicators [data-bs-target] {
height: 5px;
background-color: #00b4d8;

}